$header-background-color  : #428bca;
$slideHeight              : 200px;
$slideWidth               : 100%;
$slide-img-bg-url         : "../images/index-focus-btn.png";
$slide-img-arrow-url      : "../images/slider-arrow.png";